.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 5em;

  background-image: url('https://images.unsplash.com/photo-1542765488-53adb192042c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNocmlzdG1hcyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.calendar {
  display: grid;
  grid-template-columns: auto auto auto auto;

  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5em;
  background-color: rgba(41, 41, 41, 0.822);
}

.door {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  background: rgba(211, 47, 47, 0.91);
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.door p {
  font-size: 2em;
  color: #f2f2f2;
}

.door:hover {
  background: rgba(216, 57, 57, 0.91);
}

.dooropen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  background-color: rgb(8, 24, 23, 0.8);
  border: 2px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
  text-align: center;
  position: relative;
}

.door > p {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  padding: 20px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 4rem;
}

.doorBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grab {
  cursor: pointer;
  font-family: Impact, 'Arial Narrow Bold', sans-serif !important;
  color: #fff !important;
  font-weight: bold !important;
  font-size: 20px !important;
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
}

div .grab {
  position: absolute;
  bottom: 0;
  left: 0;
}

.dooropen p {
  color: #f2f2f2;
  width: 80%;
}

.doorBox > img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .door > p {
    font-size: 3rem;
  }
  .grab {
    font-size: 18px !important;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .door > p {
    font-size: 2rem;
  }
  .grab {
    font-size: 15px !important;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .door > p {
    font-size: 1.3rem;
  }

  .grab {
    font-size: 10px !important;
  }
}
